body {font-family:Arial, Helvetica, sans-serif;}
.evenrow {background-color:indianred;}
h1 {font-size:2em;}
h2 {font-size:1em;}
body {
    background-color: #ede7d4;
    color: #070707;
}
p a{color:#ef8300}
h1{color: #7086d7;}
h2{color:#a22652;}
nav {background-color: #00aeef;
    padding:10px;
    margin-bottom: 30px;}
nav a{color: #a22652;}
nav a:hover{background-color: #d15abd;}
@media only screen and (max-width: 768px){
    nav a {display: block; line-height: 2em;}
    span {display: none;}
}


