body {font-family:Arial, Helvetica, sans-serif;}
.evenrow {background-color:indianred;}
h1 {font-size:3em;}
h2 {font-size:2em;}
body {
    background-color: #ede7d4;
    color: #070707;
}
p a{color:#ef8300}
h1{color: #4357a0;}
h2{color:#a22652;}
nav {background-color: #2782a3;
    padding:10px;
    margin-bottom: 30px;}
nav a{color: #f78db2;}
nav a:hover{background-color: #db8718;}
@media only screen and (max-width: 768px){
    nav a {display: block; line-height: 2em;}
    span {display: none;}
}
#skip {
    position: absolute;
    left: -999px;
    background-color: rgb(0, 60, 255);
}
#skip:focus {
    left: 10px; /*Move the skip back on screen when it's tabbed to*/
}

