nav{
    background-color:#3fc9d8;
    margin-bottom: 1em;
    padding: 1% 2%;
    text-align:left;
    margin-left: 4em;
    margin-right: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a{
    color:#000407;
}
nav a:hover{background-color:#ffffff;}
body{
    background-color: #000407;
    color: white;
}
h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color:#000000;
    font-size: 3em;
}
h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightsalmon;
    font-size: 2em;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
header{
    margin:2em;
}
section{
    margin: 4em;;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2em;
    color:#000000;
    background-color:#ffffff;
}
ol{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 4em;
    font-style: italic;
}
img{
    max-width: 100%;
}
@media only screen and (max-width: 768px){
    nav a {display: block; line-height: 1em;}
    nav {padding: 1em;
        border-radius: 1em;
    }
    span {display: none;}
    .container2{
        display:flex;
        flex-wrap: wrap;
    }
    h1{font-size: 2em;}
}